## Preprocessing

In [1]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.8.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.13.3)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.43.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.5)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.24.0)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 4.2 MB/s
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (13.0.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.35.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.11.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)
Installing collected packages: tf-estimator-nightly
Successfully installed tf-estimator-nightly-2.8.0.dev2021122109

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [5]:
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

Application_Type and Classification are the focus as they have values greater than ten.

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

Suggest cutting of at 500, less will be binned as other

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts <500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

Cutting off where the classification_counts is >1.

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

Update the cutoff to > 1000 for classification_counts

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
appication_with_dummies_df = pd.get_dummies(application_df)
appication_with_dummies_df.head(5)

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [14]:
# Split our preprocessed data into our features and target arrays
X = appication_with_dummies_df.drop(["IS_SUCCESSFUL"],axis="columns").values
y = appication_with_dummies_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
layer1Nodes = 80
layer2Nodes = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1Nodes, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2Nodes, input_dim=layer1Nodes, activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim=layer2Nodes, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [18]:
# Train the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5704 - accuracy: 0.7216
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5536 - accuracy: 0.7301
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5520 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7337
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7329
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7336
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7353
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7343
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7345
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7357
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7345
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7355
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7351
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7354
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7356
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7376
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7364
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7371
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7375
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7381
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7384
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7373
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7376
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7394
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7380
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7379
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7382
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7385
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7376
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7382
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7374
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7392
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7393
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7384
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7385
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7398
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7398
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7384
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7384
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7409
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7403
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7393
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7406
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7404
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7399
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7401
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7399

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5603 - accuracy: 0.7269 - 660ms/epoch - 2ms/step
Loss: 0.5602959394454956, Accuracy: 0.7268804907798767

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")